# Lab 7 : Evaluation

## Task 1

#### Read the file.

In [1]:
!head 'IAA.csv'

THE,COMPANY,SAID,IT,MADE,THE,PURCHASE,IN,ORDER,TO,LOCALLY,PRODUCE,HYDRAULICALLY,OPERATED,SHOVELS,.
DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VB,RB,VBN,NNS,.
DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VB,RB,VBN,NNS,.
DT,NN,VBN,PRP,VBN,DT,-,IN,-,-,-,-,-,-,-,-
DT,NNS,VBG,PRP,VBG,DT,VBP,IN,-,TO,-,-,-,-,-,-
DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VBP,RB,VBN,-,-
DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VB,RB,VBN,NNS,-
DT,-,VBD,PRP,-,-,-,IN,-,TO,-,-,-,-,NN,-
DT,NNP,VB,PRP,VB,DT,-,IN,-,TO,-,-,-,-,NNS,-
DT,NN,VBN,PRP,VBD,DT,VB,IN,WDP,CC,RB,VB,JJ,VBD,NN,-

In [2]:
import pandas as pd
import pprint

pp = pprint.PrettyPrinter(width=41, compact=True)

In [3]:
def read_data_from_file(file_name):
    data = pd.read_csv(file_name, encoding='utf-8')
    
    return data

In [4]:
import os

file_name = os.path.join(os.getcwd(), 'IAA.csv')
data = read_data_from_file(file_name=file_name)

In [5]:
data.head()

,THE,COMPANY,SAID,IT,MADE,THE.1,PURCHASE,IN,ORDER,TO,LOCALLY,PRODUCE,HYDRAULICALLY,OPERATED,SHOVELS,.
0,DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VB,RB,VBN,NNS,.
1,DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VB,RB,VBN,NNS,.
2,DT,NN,VBN,PRP,VBN,DT,-,IN,-,-,-,-,-,-,-,-
3,DT,NNS,VBG,PRP,VBG,DT,VBP,IN,-,TO,-,-,-,-,-,-
4,DT,NN,VBD,PRP,VBD,DT,NN,IN,NN,TO,RB,VBP,RB,VBN,-,-

In [6]:
sentences = data.columns
pp.pprint(sentences)

Index(['THE', 'COMPANY', 'SAID', 'IT', 'MADE', 'THE.1', 'PURCHASE', 'IN',
       'ORDER', 'TO', 'LOCALLY', 'PRODUCE', 'HYDRAULICALLY', 'OPERATED',
       'SHOVELS', '.'],
      dtype='object')

In [7]:
n_tokens = len(data.columns)
n_tokens

16

In [8]:
types = set(data.columns)
# since pandas renamed THE to THE.1 to avoid column name duplication
types.discard('THE.1')

n_types = len(types)
n_types

15

#### The gold standard annoation?

In [9]:
gold = list(data.iloc[0])
pp.pprint(gold)

['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
 'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
 'RB', 'VBN', 'NNS', '.']

In [10]:
len(gold)

16

## Task 2

In [11]:
subjects = data.values.tolist()[1:]

pp.pprint(subjects)

[['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '.'],
 ['DT', 'NN', 'VBN', 'PRP', 'VBN', 'DT',
  '-', 'IN', '-', '-', '-', '-', '-',
  '-', '-', '-'],
 ['DT', 'NNS', 'VBG', 'PRP', 'VBG', 'DT',
  'VBP', 'IN', '-', 'TO', '-', '-', '-',
  '-', '-', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VBP',
  'RB', 'VBN', '-', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '-'],
 ['DT', '-', 'VBD', 'PRP', '-', '-', '-',
  'IN', '-', 'TO', '-', '-', '-', '-',
  'NN', '-'],
 ['DT', 'NNP', 'VB', 'PRP', 'VB', 'DT',
  '-', 'IN', '-', 'TO', '-', '-', '-',
  '-', 'NNS', '-'],
 ['DT', 'NN', 'VBN', 'PRP', 'VBD', 'DT',
  'VB', 'IN', 'WDP', 'CC', 'RB', 'VB',
  'JJ', 'VBD', 'NN', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'IN', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'VB', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '.'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'VB', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '.'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'VB', 'RB', 'NNS', '.'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'VB', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '.'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NN', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'JJ', 'VBN', 'NN', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', '-', 'TO', 'RB', '-', 'RB',
  'VBN', 'NNS', '.'],
 ['DT', 'NN', 'VBD', '-', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'IN', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', '-', 'TO', 'RB', 'VB',
  'RB', 'JJ', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', '-', '-', 'RB', 'VB', 'RB',
  'VBN', 'NNS', '-'],
 ['DT', 'NNP', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VBD',
  'RB', 'VBN', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBN', 'DT',
  '-', '-', '-', '-', '-', '-', '-', '-',
  'NNP', '-'],
 ['DT', 'NN', 'VBD', 'DT', 'VBN', 'DT',
  'NN', 'IN', 'JJ', 'IN', 'RB', 'VB',
  'RB', 'JJ', 'NN', '-'],
 ['-', '-', '-', '-', '-', '-', '-', '-',
  '-', '-', '-', '-', '-', '-', '-',
  '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '.'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', '-', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NNP', 'IN', 'NN', 'TO', 'JJ', 'VB',
  'JJ', 'JJ', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'NN', 'IN', 'NN', 'IN', 'RB', 'VB',
  'RB', 'VBN', 'NNS', '-'],
 ['DET', 'NN', 'VBP', 'PRP', 'VBP',
  'DET', 'NN', 'IN', 'NN', 'TO', 'RB',
  'VB', 'RB', 'RB', 'NNS', '-'],
 ['DT', 'NN', 'VBD', 'PRP', 'VBD', 'DT',
  'VB', 'IN', 'NN', 'TO', 'RB', 'VB',
  'RB', 'VBD', 'NNS', '-']]

In [12]:
len(subjects)

32

#### Counting the subjects with empty fields.

In [13]:
import collections

In [14]:
def count_empty_fields(data):
    store = {}
    for i in range(len(subjects)):
        counter = collections.Counter(subjects[i])
        empty_fields = counter['-']
        store[i] = empty_fields
            
    return store

In [15]:
empty = count_empty_fields(data)
empty

{0: 0,
 1: 9,
 2: 7,
 3: 2,
 4: 1,
 5: 10,
 6: 7,
 7: 1,
 8: 1,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 1,
 14: 1,
 15: 1,
 16: 2,
 17: 2,
 18: 2,
 19: 1,
 20: 3,
 21: 1,
 22: 9,
 23: 1,
 24: 16,
 25: 0,
 26: 1,
 27: 2,
 28: 1,
 29: 1,
 30: 1,
 31: 1}

#### Counting `subject/count` pairs where `count > 0`

In [16]:
def pairs_greater_than_zero():
    store = {}
    for i in range(len(subjects)):
        counter = collections.Counter(subjects[i])
        empty_count = counter['-']
        if empty_count > 0:
            store[i] = empty_count
    
    return store

In [17]:
sub_count_pair = pairs_greater_than_zero()

In [18]:
print(sub_count_pair)

{1: 9, 2: 7, 3: 2, 4: 1, 5: 10, 6: 7, 7: 1, 8: 1, 13: 1, 14: 1, 15: 1, 16: 2, 17: 2, 18: 2, 19: 1, 20: 3, 21: 1, 22: 9, 23: 1, 24: 16, 26: 1, 27: 2, 28: 1, 29: 1, 30: 1, 31: 1}

#### Check for subjects that missed some fields.

In [19]:
def stats_task2():
    total_subs = len(subjects)
    print('Total Subjects = {}'.format(total_subs))
    
    subs_with_missing_tags = len(sub_count_pair) 
    print('Subjects missing tags = {}'.format(subs_with_missing_tags))
    
    perc_missing = (subs_with_missing_tags / total_subs) * 100
    print(
        'Percentage of subjects missing at least one tag = {}%'\
        .format(perc_missing)
    )

In [20]:
stats_task2()

Total Subjects = 32
Subjects missing tags = 26
Percentage of subjects missing at least one tag = 81.25%

#### Sanity Check.  Need to load tree bank first.

In [21]:
tags=list() #generate an empty list called tags
with open(os.path.join(os.getcwd(), 'penntreebank.txt'),'r') as f:
    for line in f:
        tags.append(line.strip())

In [22]:
tags

['CC',
 'CD',
 'DT',
 'EX',
 'FW',
 'IN',
 'JJ',
 'JJR',
 'JJS',
 'LS',
 'MD',
 'NN',
 'NNS',
 'NNP',
 'NNPS',
 'PDT',
 'POS',
 'PRP',
 'PRP$',
 'RB',
 'RBR',
 'RBS',
 'RP',
 'SYM',
 'TO',
 'UH',
 'VB',
 'VBD',
 'VBG',
 'VBN',
 'VBP',
 'VBZ',
 'WDT',
 'WP',
 'WP$',
 'WRB',
 '$',
 '#',
 '"',
 '(',
 ')',
 ',',
 '.',
 ':']

#### Check for tags that are present in the dataset we're given but not in the `penntreebank`.

In [23]:
def check_for_valid_tags():
    for x in range(0, len(subjects)):
        for y in range(0, len(subjects[0])):
            if subjects[x][y] not in tags: 
                if subjects[x][y] != "-":
                    print('({}, {}) => {}'.format(x, y, subjects[x][y]))

In [24]:
check_for_valid_tags()

(7, 8) => WDP
(30, 0) => DET
(30, 5) => DET

## Task 3

#### Need to check how many subjects have an exact match with the `gold standard`.

In [25]:
def compare_with_gold_standard():
    exact_matches = []
    for i in range(len(subjects)):
        if subjects[i] == gold:
            exact_matches.append(i)
            
    return exact_matches

In [26]:
exact_matches = compare_with_gold_standard()
exact_matches

[0, 25]

#### Count the `subject/count` pairs that have wrong tags compared to the `gold standard`.

In [27]:
def count_wrong_tag_pairs():
    store = {}
    for i in range(len(subjects)):
        wrong_tags = 0
        
        # check for all tags in gold
        for j in range(len(gold)):
            if subjects[i][j] != gold[j]:
                wrong_tags = wrong_tags + 1
                
        store[i] = wrong_tags
        
    return store

In [28]:
wrong_pairs = count_wrong_tag_pairs()

In [29]:
wrong_pairs

{0: 0,
 1: 11,
 2: 11,
 3: 3,
 4: 1,
 5: 11,
 6: 10,
 7: 8,
 8: 3,
 9: 2,
 10: 2,
 11: 2,
 12: 1,
 13: 3,
 14: 3,
 15: 1,
 16: 2,
 17: 4,
 18: 3,
 19: 2,
 20: 3,
 21: 3,
 22: 11,
 23: 7,
 24: 16,
 25: 0,
 26: 1,
 27: 3,
 28: 5,
 29: 2,
 30: 6,
 31: 3}

#### How many subjects got it right. Stats

In [30]:
def stats_task3():
    total_subs = len(subjects)
    print('Total Subjects = {}'.format(total_subs))
    
    correct = len(exact_matches)
    print('Exact Matches = {}'.format(correct))
    
    perc = (correct / total_subs) * 100
    print('{}% subjects got the correct answer compared to the gold standard.'\
         .format(perc))

In [31]:
stats_task3()

Total Subjects = 32
Exact Matches = 2
6.25% subjects got the correct answer compared to the gold standard.

#### Check the subjects that are missing only one tag.

#### Find indices of subjects that have only one miss.

In [32]:
indices_one_miss = []
for k in wrong_pairs:
    if wrong_pairs[k] == 1:
        indices_one_miss.append(k)
        
indices_one_miss

[4, 12, 15, 26]

#### Which tag did they miss?

In [33]:
missed_tags = {}
for i in indices_one_miss:
    sub = subjects[i]
    
    for tag in gold:
        if tag not in sub:
            missed_tags[i] = tag
            
missed_tags

{4: '.', 15: '.', 26: '.'}

#### Most frequently missed tag among the ones missing only one tag?

In [34]:
def most_frequent_one_miss():
    counter = collections.Counter(missed_tags.values())
    return counter.most_common()

In [35]:
most_frequent_one_miss()

[('.', 3)]

## Task 4

#### Accuracy

$$
Accuracy = OverlapingAnswers / TotalCorrectAnswers
$$

In [36]:
def accuracy_per_sub():
    accuracy_dict = {}
    exact = len(gold)
    
    for k in wrong_pairs:
        correct = exact - wrong_pairs[k]
        
        accuracy = correct / exact
        accuracy_dict[k] = accuracy
        
    return accuracy_dict

In [37]:
accuracy_p_sub = accuracy_per_sub()
accuracy_p_sub

{0: 1.0,
 1: 0.3125,
 2: 0.3125,
 3: 0.8125,
 4: 0.9375,
 5: 0.3125,
 6: 0.375,
 7: 0.5,
 8: 0.8125,
 9: 0.875,
 10: 0.875,
 11: 0.875,
 12: 0.9375,
 13: 0.8125,
 14: 0.8125,
 15: 0.9375,
 16: 0.875,
 17: 0.75,
 18: 0.8125,
 19: 0.875,
 20: 0.8125,
 21: 0.8125,
 22: 0.3125,
 23: 0.5625,
 24: 0.0,
 25: 1.0,
 26: 0.9375,
 27: 0.8125,
 28: 0.6875,
 29: 0.875,
 30: 0.625,
 31: 0.8125}

#### Average accuracy.

In [38]:
avg_accuracy = sum(accuracy_p_sub.values()) / len(accuracy_p_sub)

In [39]:
avg_accuracy

0.720703125

## Task 5

#### IAA

In [40]:
def iaa():
    iaas = []
    
    for i in range(len(subjects)):
        for j in range(i + 1, len(subjects)):
            correct = 0.0
            for k in range(len(gold)):
                if subjects[i][k] == subjects[j][k] \
                and subjects[j][k] != '-':
                    correct = correct + 1
                    
            iaa = correct / len(gold)
            iaas.append(iaa)
            
    return iaas

In [41]:
iaas = iaa()

In [42]:
iaas

[0.3125,
 0.3125,
 0.8125,
 0.9375,
 0.3125,
 0.375,
 0.5,
 0.8125,
 0.875,
 0.875,
 0.875,
 0.9375,
 0.8125,
 0.8125,
 0.9375,
 0.875,
 0.75,
 0.8125,
 0.875,
 0.8125,
 0.8125,
 0.3125,
 0.5625,
 0.0,
 1.0,
 0.9375,
 0.8125,
 0.6875,
 0.875,
 0.625,
 0.8125,
 0.25,
 0.3125,
 0.3125,
 0.1875,
 0.25,
 0.375,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.25,
 0.3125,
 0.3125,
 0.3125,
 0.25,
 0.3125,
 0.3125,
 0.0,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.1875,
 0.3125,
 0.3125,
 0.3125,
 0.25,
 0.3125,
 0.25,
 0.25,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.1875,
 0.3125,
 0.3125,
 0.25,
 0.3125,
 0.1875,
 0.1875,
 0.0,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.25,
 0.1875,
 0.3125,
 0.8125,
 0.3125,
 0.3125,
 0.4375,
 0.6875,
 0.6875,
 0.6875,
 0.6875,
 0.75,
 0.75,
 0.75,
 0.8125,
 0.75,
 0.625,
 0.6875,
 0.75,
 0.6875,
 0.75,
 0.3125,
 0.5,
 0.0,
 0.8125,
 0.8125,
 0.6875,
 0.5625,
 0.75,
 0.5,
 0.6875,
 0.3125,
 0.375,
 0.5,
 0.8125,
 0.8125,
 0.8125,
 0.8125,
 0.875,
 0.8125,
 0.8125,
 0.9375,
 0.8125,
 0.75,
 0.8125,
 0.875,
 0.8125,
 0.8125,
 0.3125,
 0.5625,
 0.0,
 0.9375,
 0.9375,
 0.8125,
 0.6875,
 0.875,
 0.625,
 0.8125,
 0.25,
 0.25,
 0.25,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.375,
 0.375,
 0.3125,
 0.3125,
 0.1875,
 0.3125,
 0.3125,
 0.25,
 0.3125,
 0.1875,
 0.25,
 0.0,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.25,
 0.1875,
 0.3125,
 0.25,
 0.3125,
 0.375,
 0.375,
 0.375,
 0.375,
 0.3125,
 0.3125,
 0.375,
 0.375,
 0.25,
 0.375,
 0.375,
 0.3125,
 0.4375,
 0.1875,
 0.1875,
 0.0,
 0.375,
 0.375,
 0.375,
 0.375,
 0.3125,
 0.25,
 0.375,
 0.5625,
 0.625,
 0.625,
 0.5,
 0.5625,
 0.625,
 0.625,
 0.5,
 0.4375,
 0.5,
 0.5,
 0.5625,
 0.5,
 0.375,
 0.25,
 0.4375,
 0.0,
 0.5,
 0.5,
 0.5625,
 0.5,
 0.5,
 0.3125,
 0.625,
 0.8125,
 0.8125,
 0.75,
 0.75,
 0.8125,
 0.6875,
 0.8125,
 0.6875,
 0.875,
 0.75,
 0.875,
 0.75,
 0.6875,
 0.3125,
 0.625,
 0.0,
 0.8125,
 0.8125,
 0.8125,
 0.625,
 0.875,
 0.5625,
 0.8125,
 1.0,
 0.8125,
 0.9375,
 0.8125,
 0.6875,
 0.8125,
 0.75,
 0.75,
 0.75,
 0.875,
 0.6875,
 0.6875,
 0.3125,
 0.5,
 0.0,
 0.875,
 0.8125,
 0.8125,
 0.6875,
 0.75,
 0.5625,
 0.9375,
 0.8125,
 0.9375,
 0.8125,
 0.6875,
 0.8125,
 0.75,
 0.75,
 0.75,
 0.875,
 0.6875,
 0.6875,
 0.3125,
 0.5,
 0.0,
 0.875,
 0.8125,
 0.8125,
 0.6875,
 0.75,
 0.5625,
 0.9375,
 0.8125,
 0.75,
 0.75,
 0.8125,
 0.75,
 0.6875,
 0.75,
 0.8125,
 0.6875,
 0.6875,
 0.3125,
 0.5,
 0.0,
 0.875,
 0.8125,
 0.75,
 0.6875,
 0.75,
 0.625,
 0.75,
 0.75,
 0.75,
 0.875,
 0.8125,
 0.6875,
 0.75,
 0.8125,
 0.75,
 0.75,
 0.3125,
 0.5,
 0.0,
 0.9375,
 0.875,
 0.75,
 0.6875,
 0.8125,
 0.5625,
 0.875,
 0.8125,
 0.8125,
 0.6875,
 0.75,
 0.75,
 0.875,
 0.6875,
 0.6875,
 0.3125,
 0.625,
 0.0,
 0.8125,
 0.8125,
 0.8125,
 0.625,
 0.75,
 0.5625,
 0.8125,
 0.8125,
 0.6875,
 0.625,
 0.6875,
 0.75,
 0.6875,
 0.6875,
 0.3125,
 0.5625,
 0.0,
 0.8125,
 0.8125,
 0.6875,
 0.6875,
 0.75,
 0.5,
 0.6875,
 0.8125,
 0.75,
 0.8125,
 0.875,
 0.8125,
 0.8125,
 0.3125,
 0.5625,
 0.0,
 0.9375,
 0.9375,
 0.8125,
 0.6875,
 0.875,
 0.625,
 0.8125,
 0.625,
 0.75,
 0.75,
 0.75,
 0.75,
 0.3125,
 0.5,
 0.0,
 0.875,
 0.8125,
 0.75,
 0.5625,
 0.75,
 0.5,
 0.6875,
 0.6875,
 0.8125,
 0.6875,
 0.625,
 0.25,
 0.625,
 0.0,
 0.75,
 0.75,
 0.75,
 0.5625,
 0.8125,
 0.5,
 0.75,
 0.8125,
 0.75,
 0.6875,
 0.3125,
 0.625,
 0.0,
 0.8125,
 0.8125,
 0.8125,
 0.6875,
 0.75,
 0.5625,
 0.75,
 0.75,
 0.75,
 0.3125,
 0.5625,
 0.0,
 0.875,
 0.875,
 0.875,
 0.6875,
 0.8125,
 0.625,
 0.875,
 0.6875,
 0.3125,
 0.5625,
 0.0,
 0.8125,
 0.8125,
 0.75,
 0.5625,
 0.8125,
 0.5,
 0.6875,
 0.25,
 0.4375,
 0.0,
 0.8125,
 0.8125,
 0.6875,
 0.5625,
 0.75,
 0.5,
 0.6875,
 0.3125,
 0.0,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.3125,
 0.125,
 0.3125,
 0.0,
 0.5625,
 0.5625,
 0.5625,
 0.4375,
 0.625,
 0.375,
 0.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.9375,
 0.8125,
 0.6875,
 0.875,
 0.625,
 0.8125,
 0.8125,
 0.6875,
 0.875,
 0.625,
 0.8125,
 0.625,
 0.75,
 0.5625,
 0.8125,
 0.625,
 0.4375,
 0.6875,
 0.5625,
 0.75,
 0.5625]

#### Average.

In [43]:
avg_iaa = sum(iaas) / len(iaas)
avg_iaa

0.5598538306451613

#### Comparison

In [44]:
print('AVG Accuracy = {}'.format(avg_accuracy))
print('AVG IAA = {}'.format(avg_iaa))

AVG Accuracy = 0.720703125
AVG IAA = 0.5598538306451613